*
{
    margin: 10px;
}
body
{
    background-color: aqua;
}

h1
{
    color: rgb(226, 21, 21);
    font-size: 50px;
}

img
{
    width: 350px;
    height: 300px;
}

p
{
    background-color: orange;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}